.additional-products__title {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.additional-products__container {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: 1fr 245px;
    align-items: start;
    margin-bottom: 85px;
  }
}

.additional-products__list {
  @include list-unstyled;

  margin-bottom: 38px;

  color: $special-mercury;

  border-top: 1px solid;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;

    border-right: 1px solid;
    border-left: 1px solid;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    border-right: none;
    border-left: none;
  }
}

.additional-products__item {
  padding-top: 11px;
  padding-bottom: 18px;

  border-bottom: 1px solid;

  @media (min-width: $tablet-width) {
    padding: 25px 37px 27px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 244px;
    align-items: center;
    padding: 16px 0 15px;
  }
}

.additional-products__data {
  display: grid;
  grid-gap: 8px 10px;
  grid-template-columns: auto 1fr 1fr;
  margin-bottom: 13px;

  color: $basic-dark-gray;

  dd {
    margin-left: 0;

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column-gap: 33px;
    grid-template-columns: 1fr 215px 60px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 211px 62px;
    margin-bottom: 0;
  }
}

.additional-products__price {
  text-align: right;
  text-transform: uppercase;
}

.additional-products__weight {
  @media (max-width: $mobile-width) {
    grid-column-end: 3;
    grid-column-start: 1;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.additional-products__name {
  @include text-uppercase;

  @media (max-width: $mobile-width) {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}

.additional-products__button {
  width: 100%;

  font-size: 16px;
}
