.additional-contacts {
  padding-top: 40px;
  padding-bottom: 22px;

  background-color: $basic-extra-light-gray;
}

.additional-contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-contacts__logo {
  margin-bottom: 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.additional-contacts__logo-image {
  display: block;
}

.additional-contacts__social {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: $basic-light-gray;

  border-top: 1px solid;
  border-bottom: 1px solid;
}
