.additional-contacts {
  padding-top: 40px;
  padding-bottom: 22px;

  background-color: $basic-extra-light-gray;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 48px;
  }
}

.additional-contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-contacts__logo {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.additional-contacts__logo-image {
  display: block;
}

.additional-contacts__social {
  width: 100%;
  margin-bottom: 22px;

  color: $basic-light-gray;

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    padding-bottom: 7px;

    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin: -3px 0 0 33px;
  }
}
