.basic-title {
  margin-top: 0;
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-stack;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
