.catalog__container {
  @media (max-width: $mobile-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.catalog__list {
  @include list-unstyled;

  color: $basic-mercury;

  border-top: 1px solid;
  border-bottom: 1px solid;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 61px 60px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-gap: 63px 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  color: $basic-dark-gray;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }
}
