.contacts {
  position: relative;
}

.contacts__information {
  padding-top: 20px;
  padding-bottom: 20px;

  &--special {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    left: calc((100% - 1220px) / 2);

    width: 570px;

    background-color: $basic-white;
    transform: translateY(-50%);
  }
}

.contacts__container {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: 130px auto;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 170px auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.contacts__map-iframe {
  display: block;
  width: 100%;

  border: none;
}

.contacts__text {
  @include text-uppercase(22px, $basic-black);
}

.contacts__address {
  font-style: normal;
  line-height: 20px;

  p {
    margin: 0;
  }
}
