.contacts__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;

  &--special {
    background-color: $basic-white;
  }
}

.contacts__map-iframe {
  display: block;
  width: 100%;

  border: none;
}

.contacts__text {
  @include text-uppercase(22px, $basic-black);

  max-width: 165px;
}

.contacts__address {
  margin-left: 15px;

  font-style: normal;
  line-height: 20px;

  p {
    margin: 0;
  }
}
