.contacts {
  position: relative;
}

.contacts__information {
  padding-top: 35px;
  padding-bottom: 19px;

  &--special {
    padding-top: 28px;
    padding-bottom: 26px;

    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    left: calc((100% - 1220px) / 2);

    width: 570px;
    padding-top: 63px;
    padding-bottom: 58px;

    background-color: $basic-white;
    transform: translateY(-52%);
  }
}

.contacts__container {
  display: grid;
  grid-column-gap: 17px;
  grid-template-columns: min-content auto;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content 168px;

    padding-right: 42px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 418px;
    padding-right: 0;
    padding-left: 0;
  }
}

.contacts__map-iframe {
  display: block;
  width: 100%;

  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__text {
  @include text-uppercase(18px, $basic-black);

  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    line-height: 25px;
  }

  span {
    display: inline-block;
    margin-bottom: 4px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;

  p {
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      text-align: right;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }
}
