.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 280px;

  color: inherit;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: none;
  }

  &:hover svg {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}
