.example {
  padding-top: 26px;
  padding-bottom: 31px;

  background-color: $special-extra-light-gray;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 0;

    background-color: transparent;
    border-top: 1px solid $special-light-gray;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;

    border-top: none;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-column-gap: 170px;
    grid-template-columns: 440px 610px;
    justify-content: center;

    background-image: $gradient-gray;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 72px;
    padding-bottom: 63px;
  }
}

.example__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.example__nowrap {
  white-space: nowrap;
}

.example__stats {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 255px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 63px;

    background-color: $special-extra-light-gray;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 63px;

    background-color: transparent;
  }
}
