.form-input {
  position: relative;

  display: flex;
  align-items: center;

  &--icon .form-input__label {
    margin-right: 10px;
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      margin-right: 17px;
      margin-bottom: 0;
    }
  }

  svg {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
  }
}

.form-input__label {
  @include text-uppercase(18px, $basic-dark-gray);

  flex-shrink: 0;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;

    line-height: 30px;
  }
}

.form-input__field {
  @include text-uppercase(45px, $basic-dark-gray);

  flex-grow: 1;
  min-width: 0;
  height: 45px;
  margin: 0;
  padding: 0 15px;

  border: 1px solid lighten($special-light-gray, 0.5%);

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0 18px;

    line-height: 52px;
  }

  &--comment {
    flex-basis: 100%;
    height: 150px;
    padding: 8px 10px 12px 14px;
    overflow-y: auto;

    line-height: 20px;

    resize: vertical;

    @media (min-width: $tablet-width) {
      height: 174px;
      padding: 14px 18px;
    }
  }

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: $basic-gray;
  }

  &:focus,
  &:disabled {
    border-color: $basic-dark-gray;
    outline: 0;
    box-shadow: 0 0 0 1px $basic-dark-gray inset;
  }

  &:disabled {
    background-color: transparent;

    & + .form-input__icon-email {
      stroke: $basic-green;
    }

    & + .form-input__icon-phone {
      fill: $basic-green;
    }
  }
}

.form-input__icon-email {
  right: 16px;

  @media (min-width: $tablet-width) {
    right: 18px;
  }
}

.form-input__icon-phone {
  right: 13px;

  @media (min-width: $tablet-width) {
    right: 18px;
  }
}
