.form-control {
  display: inline-block;
}

.form-control__field {
  &:not(:disabled) + .form-control__label {
    cursor: pointer;
  }

  &:focus + .form-control__label {
    outline: thin dotted;
  }

  &:disabled + .form-control__label {
    opacity: 0.3;
  }

  &:checked + .form-control__label::before {
    box-shadow: 0 0 0 7px $basic-white inset, 0 0 0 30px $basic-green inset;

    @media (min-width: $tablet-width) {
      box-shadow: 0 0 0 10px $basic-white inset, 0 0 0 40px $basic-green inset;
    }
  }

  &--checkbox + .form-control__label::before {
    border-radius: 0;
  }

  &--checkbox:checked + .form-control__label::before {
    background-image: $icon-check;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px auto;
    border-radius: 0;
    box-shadow: none;
  }
}

.form-control__label {
  @include text-uppercase;

  display: flex;
  align-items: center;

  &::before {
    content: "";

    width: 30px;
    height: 30px;
    margin-right: 15px;

    border: 1px solid $basic-gray;
    border-radius: 100%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }

  &:hover::before {
    border-color: darken($basic-gray, 7.5%);
  }
}
