.list-checkbox {
  @include list-unstyled;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 27px 55px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.list-checkbox__item:not(:last-child) {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
