.page-main--special {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.page-main__title {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }
}

.page-main__sales-pitch {
  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.page-main__plan {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.page-main__features {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.page-main__catalog {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}
