.page-header {
  border-bottom: 1px solid $special-light-gray;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  &--special {
    @media (min-width: $desktop-width) {
      background-image: linear-gradient(to right, $basic-white, $basic-white 50%, $special-dark-green 50%, $special-dark-green 100%);
    }
  }
}

.page-header__container {
  position: relative;

  padding-top: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 570px;
    z-index: 30;

    padding-top: 55px;
  }
}

.page-header__nav {
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    margin: 7px 0 0;
  }
}

.page-header__logo {
  @media (max-width: $mobile-width) {
    display: inline-block;
    margin-bottom: 11px;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;

  @media (min-width: $desktop-width) {
    width: 226px;
  }
}
