.plan {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.plan__list {
  @include list-unstyled;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.plan__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 18px;

  background-color: $basic-extra-light-gray;

  @media (min-width: $tablet-width) {
    min-height: 370px;
    padding: 76px 280px 55px 52px;
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
    padding: 40px 52px 57px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--pro {
    @media (min-width: $tablet-width) {
      padding-right: 312px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 55px;
    }
  }
}

.plan__wrapper {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
  }
}

.plan__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 21px;
  padding: 9px 0 10px 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-stack;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: static;

    margin-bottom: 25px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    margin-bottom: 40px;
    padding: 35px 0 35px 163px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 5;

    background-repeat: no-repeat;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      transform: translateY(-46.79%);
    }
  }

  &--slim::before {
    left: 2px;

    width: 50px;
    height: 56px;

    background-image: url("../img/plan-slim.svg"), $icon-circle;
    background-position: center top, center;
    background-size: 36px auto, 50px auto;

    @media (min-width: $tablet-width) {
      right: 62px;
      left: auto;

      width: 200px;
      height: 227px;

      background-size: 140px auto, 200px auto;
    }

    @media (min-width: $desktop-width) {
      right: auto;
      left: 0;

      width: 100px;
      height: 112px;

      background-size: 70px auto, 100px auto;
    }
  }

  &--pro::before {
    left: -7px;

    width: 67px;
    height: 50px;

    background-image: url("../img/plan-pro.svg"), $icon-circle;
    background-position: left center, center;
    background-size: 67px auto, 50px auto;

    @media (min-width: $tablet-width) {
      right: 24px;
      left: auto;

      width: 272px;
      height: 200px;

      background-size: 268px auto, 200px auto;
    }

    @media (min-width: $desktop-width) {
      right: auto;
      left: -19px;

      width: 138px;
      height: 100px;

      background-size: 134px auto, 100px auto;
    }
  }
}

.plan__text {
  margin-top: 0;
  margin-bottom: 0;
}

.plan__button-wrapper {
  @media (max-width: $mobile-width) {
    padding-top: 17px;

    border-top: 1px solid $basic-light-gray;
  }
}

.plan__button {
  @include text-uppercase($color: $basic-black);

  position: relative;

  display: inline-block;
  min-width: 134px;
  padding-right: 35px;

  @media (min-width: $tablet-width) {
    padding-right: 58px;

    line-height: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 1px;

    width: 32px;
    height: 10px;

    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: -8px center;
    background-size: 32px auto;
    transform: translateY(-50%);
  }

  &:hover::before {
    background-position: left center;
  }

  &:active {
    opacity: 0.3;
  }
}
