.plan {
  margin-bottom: 27px;
}

.plan__list {
  @include list-unstyled;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.plan__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 265px;
  padding: 20px;

  background-color: $basic-extra-light-gray;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.plan__wrapper {
  padding-bottom: 20px;
}

.plan__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-stack;
  color: $basic-black;
  text-transform: uppercase;
}

.plan__text {
  margin: 0;
}

.plan__button-wrapper {
  padding-top: 20px;

  border-top: 1px solid $basic-light-gray;
}

.plan__button {
  @include text-uppercase($color: $basic-black);

  &:active {
    opacity: 0.3;
  }
}
