.product {
  padding: 20px 20px 24px;

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 2px;

    border-bottom: 1px solid lighten($special-extra-light-gray, 0.5%);
  }

  @media (min-width: $tablet-width) {
    height: 100%;
    padding: 20px 38px 40px;

    background-color: $basic-extra-light-gray;
  }
}

.product__link-image {
  @media (min-width: $tablet-width) {
    display: block;
    margin: -100px -38px 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.product__image {
  @media (min-width: $tablet-width) {
    display: inherit;
    width: 280px;
    margin: 0 auto;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    opacity: 0.6;
  }
}

.product__link-title {
  display: block;
  max-width: 95px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin-bottom: 12px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.product__title {
  @include text-uppercase;

  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    line-height: 24px;

    span {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__data {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.product__button {
  width: 100%;

  font-size: 16px;

  @media (max-width: $mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
