.product {
  padding: 20px 20px 24px;

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-row-gap: 2px;

    border-bottom: 1px solid $basic-mercury;
  }

  @media (min-width: $tablet-width) {
    height: 100%;
    padding: 20px 38px 39px;

    background-color: $basic-extra-light-gray;
  }

  @media (min-width: $desktop-width) {
    min-height: 431px;
    padding-right: 0;
    padding-left: 0;
  }
}

.product__link-image {
  @media (min-width: $tablet-width) {
    display: block;
    width: 168px;
    min-height: 207px;
    margin: -93px auto 28px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    min-height: 202px;
    margin-top: -100px;
    margin-bottom: 40px;
  }
}

.product__image {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.product__group {
  @media (min-width: $desktop-width) {
    padding-right: 39px;
    padding-left: 39px;
  }
}

.product__link-title {
  display: block;
  max-width: 95px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin-bottom: 12px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.product__title {
  @include text-uppercase;

  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    line-height: 24px;

    span {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__data {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.product__button {
  width: 100%;

  font-size: 16px;

  @media (max-width: $mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 167px;
    margin: 0 auto;
  }
}
