.show-all {
  padding: 79px 20px 24px;

  text-align: center;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
    padding: 160px 35px 38px;

    background-position: center 52px;
    background-size: 60px auto;

    border: 1px solid $basic-extra-light-gray;
  }
}

.show-all__group {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.show-all__title {
  @include text-uppercase;

  margin-top: 0;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    line-height: 22px;

    margin-bottom: 24px;
  }
}

.show-all__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 15px;
    padding-left: 15px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.show-all__button {
  width: 100%;

  font-size: 16px;
}
