.special-title {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(180deg, transparent 58%, $basic-green 58%, $basic-green calc(58% + 2px), transparent calc(58% + 2px));
  }
}

.special-title__container {
  display: flex;
  align-items: center;
  padding-right: 0;
  padding-left: 0;

  &::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 95px;
    height: 2px;
    margin-top: 8px;

    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.special-title__wrapper {
  padding: 0 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-family: $font-stack;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;

    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}
